/* Global style
================= */

:root {
  --neon-green: #00FFBC;
}

body {
  min-width: 250px;
  font-family: 'roboto', sans-serif;
  position: relative;
}

/* Typography
================= */

h1, h2 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
}

span {
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}

/* Layout
================= */

/* === Header === */

.header {
  --header-background: #000114;
  --header-text: #FFF;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-background);
  color: var(--header-text);
  z-index: 999;
  transform-origin: top;
  transition:
    transform 400ms ease-in-out,
    background-color 250ms ease-in;

  &::after {
    content: '';
    clear: both;
    display: block;
  }

  &--up {
    transform: scale(1, 0);

    .navigation__link a {
      opacity: 0;
    }
  }

  &__logo {
    height: 65px;
    width: 65px;
    margin: .75em;
    float: left;
  }
}

/* === Navigation === */

.navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background: var(--header-background);
  transform: scale(1, 0);
  transform-origin: top;
  transition:
    transform 400ms ease-in-out,
    background-color 250ms ease-in;
  z-index: 1;

  &__link {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--header-text);
    z-index: 1;

    & > a {
      display: block;
      padding: 2em;
      opacity: 0;
      text-align: center;
      transition: opacity 250ms ease-in-out 350ms;
      text-transform: uppercase;
    }
  }

  &--open {
    transform: scale(1, 1);

    .navigation__link a {
      opacity: 1;
    }
  }
}

.header--scrolled {
  --header-background: #FBFCFC;
  --header-text: #34495E;

  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

/* === Hero === */

.hero-image {
  height: 100vh;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
  color: #FFF;

  & h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5em;
  }

  & p {
    text-align: center;
  }
}

/* === Grid container === */

.grid-container {
  display: grid;
  grid-template-columns: auto 200px auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "about about about"
    "skills skills skills"
    "contact contact contact";
}

/* === About === */

.about {
  --text: #212F3C;

  grid-area: about;
  min-height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &-intro {
    margin-bottom: 1.5em;

    &__picture {
      width: 150px;
      display: block;
      margin: 2em auto;
    }
  
    &__title {
      text-align: center;
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-bottom: 1.5em;
      padding: .5em;
    }
  
    &__description {
      padding: 0 .8em;
      font-size: 1.1rem;
      line-height: 22px;
      color: var(--text);
    }
  }

  &-list {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__item {
      width: 100%;
      height: 250px;
      margin: .5em 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > img {
        width: 125px;
        height: auto;
        margin: 0 auto;
      }

      & > p {
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 1.2em;
        margin: 1em;
      }
    }
  }
}

/* === Skills === */

.skills {
  --background: #F7F9F9;
  --text: #212F3C;

  grid-area: skills;
  min-height: 100vh;
  background: var(--background);
  position: relative;

  &__title {
    margin: 2em 0;
    text-align: center;
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-list {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: auto;
    

    &__item {
      border: 1px solid black;
      width: 200px;
      height: 200px;
    }
  }

  &__bg-wave {
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
  }
}

/* === contact === */

.contact {
  --background: #212F3C;
  --text: #FFF;

  grid-area: contact;
  min-height: 100vh;
  background: var(--background);

  &__title {
    margin: 2em 0 2em;
    text-align: center;
    color: var(--text);
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

/* Components
================= */

/* === Burger menu icon === */

.menu-toggle {
  padding: 1.5em 1em;
  position: absolute;
  right: .35em;
  top: 1.2em;
  z-index: 1;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background-color: var(--header-text);
  height: 5px;
  width: 35px;
  border-radius: 4px;
  transition: all 500ms ease-in-out;
}

.hamburger {
  &::before {
    transform: translateY(-10px);
  }

  &::after {
    transform: translateY(5px);
  }
}

.open {
  .hamburger {
    transform: rotate(45deg);

    &::before {
      opacity: 0;
    }

    &::after {
      transform: translateY(-5px) rotate(-90deg);
    }
  }
}

/* === Icons === */

.chevron-down {
  position: absolute;
  left: 50%;
  bottom: 25px;
  color: #FFF;
  cursor: pointer;
}

.arrow-up {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: #FFF;
  cursor: pointer;
  z-index: 1;

  &:hover {
    transform: scaleX(1.3) scaleY(1.3) rotate(360deg);
    transition: all 500ms ease-in;
  }
}


/* Media queries
============================= */


// ============= Mobile + =========== 
@media screen and (min-width: 400px) {

  /* === Header === */
  .header {
    &__logo {
      height: 75px;
      width: 75px;
      margin: 1em;
    }
  }

  /* === Burger menu icon === */

  .menu-toggle {
    right: 1em;
    top: 1.7em;
  }
}


// ============= Phablets ===========
@media screen and (min-width: 550px) {

  /* === Navigation === */

  .navigation {
    height: auto;
    background: transparent;
    position: relative;
    flex-direction: row;
    float: right;
    margin-top: 2.25em;
    transform: scale(1, 1);

    &__link {
      margin: 0 1em;

      & > a {
        padding: .5em;
        position: relative;
        opacity: 1;

        &::after {
          content: '';
          display: block;
          height: 2px;
          background: var(--header-text);
          position: absolute;
          top: 1.75em;
          left: 6px;
          right: 6px;
          transform: scale(0, 1);
          transition: transform 250ms ease-in-out;
        }
      }

      &:hover {
        ::after {
          transform: scale(1, 1);
        }
      }
    }
  }

  /* === Burger menu icon === */

  .menu-toggle {
    display: none;
  }

  /* === Hero === */

  .hero-text {  
    & h1 {
      font-size: 2.5rem;
    }

    & p {
      font-size: 1.5rem;
    }

    & h1, p {
      text-align: left;
    }
  }

  /* === Grid container == */

  .grid-container {
    grid-template-columns: auto 500px auto;
    grid-template-areas: 
    ". about ."
    "skills skills skills"
    "contact contact contact";
  }

    /* === Skills === */

    .skills {
      &-list {
        width: 402px;
      }
    }
}


// ============= Tablettes ==========
@media screen and (min-width: 750px) {
  p {
    margin-bottom: 2em;
  }

  /* === Grid container === */

  .grid-container {
    grid-template-columns: auto 700px auto;
  }

  /* === About === */

  .about {
    max-width: 100%;

    &-intro {
      margin-top: 4.5em;
      margin-bottom: 2em;
      display: flex;
      justify-content: space-around;

      &__picture {
        margin: 0 auto 2em;
      }
  
      &__title {
        text-align: left;
        font-size: 1.5rem;
        padding: 0;
        margin-bottom: 2.5em;
      }
  
      &__description {
        padding: 0;
        font-size: 1.2rem;
      }

      &-right {
        width: 65%;
        margin-left: 4em;
      }
    }

    &-list {
      margin-bottom: 3em;
      max-width: 100%;
      padding: 0;
      
      &__item {
        width: 32%;
        margin: 0;
        margin-left: .5em;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  /* === Skills === */

  .skills {
    &-list {
      width: 602px;
    }
  }
}


// ============= Desktop =============
@media screen and (min-width: 1000px) {

  /* === Grid container == */

  .grid-container {
    grid-template-columns: auto 1000px auto;
  }
}


// ============= Desktop HD ===========
@media screen and (min-width: 1200px) { /* ... */ }


// ============= Desktop Wide ==========
@media (min-width: 1400px) { /* ... */ }



/* Animations
============================= */

/* === Animation chevron-down === */

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
	        animation: pulsate-fwd 1s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-8 22:26:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
