/* Global style
================= */

:root {
  --neon-green: #00FFBC;
}

body {
  min-width: 250px;
  font-family: 'roboto', sans-serif;
  position: relative;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
}

/* Typography
================= */

h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
}

span {
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}

/* Layout
================= */

/* === Header === */

.header {
  --header-background: #000;
  --header-text: #FFF;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-background);
  color: var(--header-text);
  z-index: 999;
  transform-origin: top;

  &::after {
    content: '';
    clear: both;
    display: block;
  }

  &--up {
    transform: scale(1, 0);

    .navigation__link a {
      opacity: 0;
    }
  }

  &--fixed {
    position: fixed;
  }

  &__logo {
    height: 65px;
    width: 65px;
    margin: .75em;
    float: left;
  }
}

.header--scrolled {
  --header-background: #FBFCFC;
  --header-text: #000;

  transition: transform 300ms ease-in-out;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

/* === Navigation === */

.navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--header-background);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;
  z-index: 1;

  &__link {
    font-weight: 700;
    color: var(--header-text);
    z-index: 1;

    & > a {
      display: block;
      padding: 2em;
      opacity: 0;
      text-align: center;
      transition: opacity 300ms ease-in-out 350ms;
      text-transform: uppercase;
      font-size: .9rem;
    }
  }

  &--open {
    transform: scale(1, 1);

    .navigation__link a {
      opacity: 1;
    }
  }
}

/* === Hero === */

.hero {
  position: relative;

  &-image {
    height: 100vh;
    background: #2C3E50 url("../assets/jannis-brandt-4mHaSX8zvJI-unsplash.jpg");
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    position: relative;
  }

  &-text {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;

    & h1 {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: .5em;
    }

    & p {
      text-align: center;
      font-size: 1.4rem;
      font-family: 'Shadows Into Light', "Open Sans", sans-serif;
    }
  }
}

/* === Grid container === */

.grid-container {
  display: grid;
  grid-template-columns: auto 200px auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
    "about about about"
    "informations informations informations"
    "portfolio portfolio portfolio"
    "contact contact contact";
}

/* === About === */

.about {
  --title: #000;

  grid-area: about;
  min-height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &-intro {
    &-left {
      background: var(--title);
      border-radius: 9px;
      box-shadow: 1px 1px 15px rgba(67, 38, 100, 0.4);
      margin: 2em auto;
      width: 75px;
      height: 75px;
      position: relative;
    }

    &__picture {
      width: 75px;
      display: block;
      position: absolute;
      bottom: -7px;
      left: 7px
    }
  
    &__title {
      line-height: 25px;
      text-align: center;
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-bottom: 1.5em;
      padding: .5em;
      color: var(--title);
    }
  
    &__description {
      padding: 0 .8em;
      font-size: 1.1rem;
      line-height: 22px;
      letter-spacing: .2px;
      text-align: center;
    }
  }

  &-list {
    width: 95%;
    margin: 2em auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__item {
      width: 30%;
      height: 135px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > img {
        width: 50px;
        height: auto;
        margin: 0 auto;
      }

      & > p {
        text-align: center;
        text-transform: uppercase;
        font-size: .75rem;
        margin: 1em 0;
      }
    }
  }
}

/* === Informations (parcours) === */

.informations {
  grid-area: informations;
  background-color: #FBFCFC;
  padding-bottom: 2em;

  &__title {
    margin: 1.5em 0 1em;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
      content: "";
      height: 3px;
      width: 100px;
      display: block;
      background: #000;
      border-radius: 5px;
      margin: 1em auto 0;
    }
  }
  
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-section {
      width: 100vw;
      padding: 1em;

      &-title {
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 1em;
        text-align: center;
        font-family: 'Shadows Into Light', "Open Sans", sans-serif;
      }
    }
  }
}

/* === Studies === */

.studies {
  &-item {
    margin-top: 3em;

    &__title {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: .5em;
    }

    &__date {
      font-family: 'Open Sans', sans-serif;
      margin-bottom: .5em;
      color: #273746;
      
      &::after {
        content: "";
        display: block;
        height: 3px;
        width: 30px;
        border-radius: 5px;
        background-color: var(--neon-green);
        margin: .7em 0;
      }
    }
    
    &__description {
      font-size: 1.1rem;
      line-height: 22px;
      letter-spacing: .1px;
    }
  }
}

/* === Skills === */

.skills {
  padding-bottom: 2em;

  &-category {
    margin-top: 3em;

    &__title {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: .5em;
    }

    &__list {
      &-item {
        display: inline-block;
        margin: 10px 5px 0 0;
        padding: 5px 7px;
        border-radius: 4px;
        color: #273746;
        font-size: 1.1rem;
        background: #FFF;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
      }
    }
  }
}

/* === Contact === */

.contact {
  --background: linear-gradient(170deg,#212A39 0%,#181E28 100%);
  --text: #FFF;

  grid-area: contact;
  min-height: 100vh;
  background-image: var(--background);
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__title {
    margin: 1.5em 0 1em;
    text-align: center;
    color: var(--text);
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
      content: "";
      height: 3px;
      width: 100px;
      display: block;
      background: #FFF;
      border-radius: 5px;
      margin: 1em auto 0;
    }
  }

  &-form {
    --background: #2E4053;
    --border: #FFF;
    --text: #FFF;
    --button: #1662FF;

    height: auto;
    min-width: 250px;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--text);

    & > label {
      margin: .5em;
      font-family: 'Open Sans', sans-serif;
    }

    & > input, & > textarea {
      min-width: 100%;
      max-width: 100%;
      outline: none;
      border-style: none;
      border-radius: 2px;
      font-size: 1.1rem;
      color: var(--text);
      background-color: var(--background);
      padding: .3em .5em;
      border-bottom: 2px solid var(--background);
      cursor: text;

      &:focus {
        border-bottom: 2px solid var(--border);
        margin-bottom: 0;
      }
    }

    & > input {
      line-height: 30px;
    }

    & > textarea {
      min-height: 200px;
    }

    & > button {
      margin: 2em 0 0;
      width: fit-content;
      align-self: center;
      color: var(--text);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 5px;
      letter-spacing: 1px;
      padding: 8px 23px 8px 23px;
      background-color: var(--button);
      transition: transform ease-in-out 200ms;

      &:hover {
        border: none;
        text-decoration: none;
        transform: scale(1.1);
      }
    }
  }
}

/* Components
================= */

/* === Burger menu icon === */

.menu-toggle {
  padding: 1.5em 1em;
  position: absolute;
  right: .35em;
  top: 1.2em;
  z-index: 1;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background-color: var(--header-text);
  height: 5px;
  width: 35px;
  border-radius: 4px;
  transition: all 500ms ease-in-out;
}

.hamburger {
  &::before {
    transform: translateY(-10px);
  }

  &::after {
    transform: translateY(5px);
  }
}

.open {
  .hamburger {
    transform: rotate(45deg);

    &::before {
      opacity: 0;
    }

    &::after {
      transform: translateY(-5px) rotate(-90deg);
    }
  }
}

/* === Icons === */

.chevron-down {
  position: absolute;
  left: 50%;
  bottom: 25px;
  color: #FFF;
  cursor: pointer;
}

.arrow-up {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: #FFF;
  cursor: pointer;
  z-index: 1;

  &:hover {
    transform: scaleX(1.3) scaleY(1.3) rotate(360deg);
    transition: all 500ms ease-in;
  }
}


/* Media queries
============================= */


// ============= Mobile + =========== 
@media screen and (min-width: 400px) {

  /* === Header === */
  .header {
    &__logo {
      height: 75px;
      width: 75px;
      margin: 1em;
    }
  }

  /* === Burger menu icon === */
  
  .menu-toggle {
    right: 1em;
    top: 1.7em;
  }

  /* === Contact === */

  .contact {
    &-form {
      max-width: 350px;
    }
  }
  
}


// ============= Phablets ===========
@media screen and (min-width: 550px) {

  /* === Hero === */

  .hero {
    &-text {  
      & h1 {
        font-size: 2.5rem;
      }
  
      & p {
        font-size: 1.8rem;
      }
    }
  }

  /* === Grid container == */

  .grid-container {
    grid-template-columns: auto 500px auto;
  }

  /* === About === */

  .about {
    max-width: 550px;

    &-intro {
      &__description {
        text-align: left;
      }
    }

    &-list {
      width: 100%;

      &__item {
        & > p {
          font-size: .85rem;
        }
      }
    }
  }

  /* === Informations === */

  .informations {
    &__content {
      &-section {
        max-width: 600px;
      }
    }
  }
}


// ============= Tablettes ==========
@media screen and (min-width: 750px) {
  .header {
    --header-background: transparent;
  }

  .header--scrolled {
    --header-background: #FBFCFC;
  }

  /* === Navigation === */

  .navigation {
    height: auto;
    background: transparent;
    position: relative;
    flex-direction: row;
    float: right;
    margin-top: 2.25em;
    margin-right: 1em;
    transform: scale(1, 1);

    &__link {
      margin: 0 1em;

      & > a {
        padding: .5em;
        position: relative;
        opacity: 1;

        &::after {
          content: '';
          display: block;
          height: 2px;
          background: var(--header-text);
          position: absolute;
          top: 1.75em;
          left: 6px;
          right: 6px;
          transform: scale(0, 1);
          transition: transform 250ms ease-in-out;
        }
      }

      &:hover {
        ::after {
          transform: scale(1, 1);
        }
      }
    }
  }

  /* === Burger menu icon === */

  .menu-toggle {
    display: none;
  }

  /* === Grid container === */

  .grid-container {
    grid-template-columns: auto 700px auto;
  }

  /* === About === */

  .about {
    max-width: 700px;
    min-height: fit-content;
    margin: 2em auto;

    &-intro {
      margin: 4em 0 1em;
      display: flex;
      justify-content: space-around;

      &-left {
        margin: 0 auto;
      }
  
      &__title {
        text-align: left;
        font-size: 1.5rem;
        padding: 0;
        margin-bottom: 2em;
      }
  
      &__description {
        padding: 0;
        font-size: 1.15rem;
        line-height: 24px;
      }

      &-right {
        width: 600px;
        padding-left: 4em;
      }
    }

    &-list {
      &__item {
        width: 150px;

        & > img {
          width: 60px;
        }

        & > p {
          font-size: 1rem;
        }
      }
    }
  }

  /* === Contact === */

  .contact {
    &-form {
      & > button {
        align-self: flex-end;
      }
    }
  }
}


// ============= Desktop =============
@media screen and (min-width: 1000px) {

  /* === Grid container == */

  .grid-container {
    grid-template-columns: auto 1000px auto;
  }

  /* === About === */

  .about {
    max-width: 800px;
  }

  /* === Informations === */

  .informations {
    &__content {
      flex-wrap: nowrap;
      justify-content: space-around;

      &-section {
        width: 45vw;
        max-width: 500px;
        height: fit-content;
        margin: 1em;

        &-title {
          display: flex;
          justify-content: center;
          align-items: center;

          &:after {
            content: "";
            display: block;
            height: 3px;
            background-color: #273746;
            border-radius: 10px;
            width: 100%;
            margin-left: 15px;
          }
        }
      }
    }
  }
}


// ============= Desktop HD ===========
@media screen and (min-width: 1200px) { 
  
  /* === Hero === */

  .hero {
    &-image {
      background-position: initial;
    }
  }
}


// ============= Desktop Wide ==========
@media (min-width: 1400px) {

  /* === Informations === */

  .informations {
    &__content {
      justify-content: center;

      &-section {
        max-width: 600px;
        margin: 1em 4em;
      }
    }
  }
}



/* Animations
============================= */

/* === Animation chevron-down === */

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
	        animation: pulsate-fwd 1s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-8 22:26:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
